body {
	font-family: sans-serif;
	background: #fafafa;
}

.knockout-component-preview--dataType {
	background: rgba(0,0,0,.075);
	border: 1px solid rgba(0,0,0,.15);
	color: #333;
	padding: 3px 6px;
	border-radius: 2px;
	display: inline-block;
	float: left;
	margin: 0 4px 4px 0;
}

.group {
	background: #fff;
	padding: 25px;
}
.group .subgroup {
	background: #fff;
}



/* Bootstrap style */
.table-striped>tbody>tr:nth-of-type(odd){
	background-color: #f1f1f1;
}
.table-hover>tbody>tr:hover {
	background-color: #e8e8e8;
}



.CodeMirror {
	height: auto;
}



/* Equal height */
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
	display: flex;
	flex-wrap: wrap;
}



.no-gutter {
	padding-right: 0;
	padding-left: 0;
}
.no-gutter-right {
	padding-right: 0;
}
.no-gutter-left {
	padding-left: 0;
}

.componentTitle {
	font-size: 35px;
	padding: 0;
	font-weight: bold;
}


.list-group-item {
	background: transparent;
}
.list-group-item h3 {
	margin: 0 0 5px 0;
}
.list-group-item h3 .badge {
	margin-top: -4px;
}

.params-list > .list-group-item:nth-child(even) {
	background: #eee;
}




















/*
    DEMO STYLE
*/

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6074c8;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li .subMenu {
	padding-right: 40px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;

    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

a[aria-expanded="true"] {
    color: #fff;
    background: #6074c8;
}
/* sub menus */
#sidebar ul li ul li a {
    background: #92a0d9;
}

#sidebar ul li.active a {
    color: #fff;
    background: #5469c3 !important;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    line-height: 21px;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6074c8;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6074c8 !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
