.knockout-component-preview--dataType {
	background: rgba(0,0,0,.075);
	border: 1px solid rgba(0,0,0,.15);
	color: #333;
	padding: 3px 6px;
	border-radius: 2px;
	display: inline-block;
	float: left;
	margin: 0 4px 4px 0;
}





ul.nav-pills {
	top: 20px;
	position: fixed;
}
div.col-sm-9 div {
	height: 250px;
	font-size: 28px;
}

.active > a {
	background: blue;
}



.group {
	background: #fff;
}
.group .subgroup {
	background: #fff;
}
.fixed {
	position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
	margin-top: 20px;
	margin-bottom: 20px;
}


/* all links */
.bs-docs-sidebar .nav>li>a {
	color: #999;
	border-left: 2px solid transparent;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
	color: #563d7c;                 
	text-decoration: none;          
	background-color: transparent;  
	border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
	font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
	font-weight: 500;
}








/* Bootstrap style */
.table-striped>tbody>tr:nth-of-type(odd){
	background-color: #f1f1f1;
}
.table-hover>tbody>tr:hover {
	background-color: #e8e8e8;
}



.CodeMirror {
	height: auto;
}



/* Equal height */
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}



.no-gutter {
	padding-right: 0;
	padding-left: 0;
}
.no-gutter-right {
	padding-right: 0;
}
.no-gutter-left {
	padding-left: 0;
}



.componentTitle {
	font-size: 35px;
	padding: 0;
	font-weight: bold;
}


.list-group-item-text.list-group-item {
	border-style: dashed;
	border-width: 2px;
	border-right: none;
	border-bottom: none;
	border-left: none;
	margin: 0 -15px 0 -15px;
}
.list-group-item-title {
    position: absolute;
    top: -2px;
    left: -1px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    border-radius: 4px 0 4px 0;
}




.list-group-item-content {
	padding-top: 30px;
}
.list-group-item-text {
	padding-top: 30px;
}



